[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
celery = "*"
django-countries = "*"
django-property-filter = "*"
django-queryable-properties = "*"
django-debug-toolbar = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
redis = "*"
djoser = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
