[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-countries = "==7.2.1"
sqlparse = "==0.4.2"
psycopg2-binary = "==2.9.3"
Django = "==4.0.2"

[dev-packages]

[requires]
python_version = "3.9"
